$lightblue: #00a0dc; // Lighter blue in logo
$darkblue: #1e6eb9; // Darker blue in logo
$seethroughGray: rgba(0,0,0,0.0); // 0.5 in "a"-part, was used in backgrounds to make text more readable
$seethroughWhite: rgba(155,155,155,0.0); // 0.5 in "a"-part, was used in background home/about-us to make text more readable
$borderDark: 1px solid rgba(21,21,23,.95); // standard border for input fields e.d.
$borderRadiusButton: 8px; // standard border-radius for buttons
$borderRadiusInput: 3px; // standard border-radius for input-fields
$standardMargin: 70px auto auto; // margin for main-area
$standardPadding: 20px; // was used for padding for the seethrough-variables
$darkGray: rgba(21,21,23,.95);